.page-two{
    display: flex;
    align-items: center;
    position: relative;
    clip-path: inset(0 0 0 0);
    overflow: visible;
    backface-visibility: hidden;
}
.about-wrap{
    margin-top:6.5em;
    width: 100%;
    height:50vh;
    display: flex;
    position: relative;
}
.line{
    border-radius: 1.5px;
    position: absolute;
    width: 0%;
    height:3px;
    background-color: var(--third);
}
.about-left{
    position: relative;
    margin-top: 35px;
    width: 65%;
    opacity: 0;

}


.b-b-span{
    opacity: 1 !important;
}
.about-line >b{
    color:var(--main);
    font-size: 2.75em;
    letter-spacing: -2px;
    font-weight: 600;
    letter-spacing: -2px;
}

.about-first-line{
    text-indent: 22%;
}
.about-first-line span{
    display: inline;
    font-size: 2.8em;
    width: 100%;
    font-weight: 500;
}
b .letter{
    opacity: 0;
}
.span > span{
    font-size: 1em !important;
}
.b-b-span > span{
    font-weight: 600 !important;
}
.b-span > span{
    font-weight: 600 !important;

}




.about-right{
    transform: translateX(10px);
    margin-top: 40px;
    max-width: 32.5%;
    margin-left: 2.5%;
    opacity: 0;
    position: relative;
}
.about-right  span{
    font-size: 1.3em;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    font-weight: 400;
    color: var(--secondary);
}

.about-subtext span{
    margin-top:5px;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--secondary);
}
.next{
    position: absolute;

    bottom: 0;
    right:0;
}
button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.test-text{
    position: relative;
    transition: all 0.5s ease;
}

.about-line{
    width: 100%;
}
.about-right > button{
    margin-bottom: 60px;
    opacity: 0;
}
.next{
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
}
.read-more{
    margin-top: 35px;
    color: var(--secondary);
    font-size: large;

    position: relative;
}
.read-more:hover{
    cursor: pointer;
}
.read-more::after{
    content:'';
    width: 0;
    background-color: var(--secondary);
    right:0;
    height: 1px;
    position: absolute;
    bottom:0;
    transition: all 500ms ease ;
}
.read-more:hover::after{
    width: 100%;
    left:0;
}

.about-line > span{
    color:var(--main);
    font-size: 2.75em;
    letter-spacing: -2.1px;
    font-weight: 500;
}

.about-line > .b-span{
    font-weight: 600 !important;
}
.letter{
    opacity:0;
}
.page-two{
    background-color: var(--background);
}
@media only screen and (max-width: 1400px){
    .about-left, .about-right{
        width:90vw;
        
    }
    .about-right span {
        width:100%;
        display: block;
    }
    .about-right{
        margin-left:-10px;
        min-width:90vw;
    }
    .read-more{
        transform: translateY(15vh);
    }
    .about-wrap{
        flex-direction: column;
        margin-top:0;
    }
    .about-line > span{
        font-size: 6.15vw;
    }
    .about-first-line {
        text-indent: 30%;
    }
    .read-more{
        display: none;
    }
}