.page-one{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    justify-content: center;
}
.loading-wrap > h1{
    margin-left:-5vw;
}
.loading-wrap > h1,.first-page-wrap > h1{
    width: 50vw;

    font-size: 6em;
    text-align: right;
    text-transform: uppercase;
    color: var(--main);
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 85px;
    scale:2.8;
    transform-origin:center right;
    transform: translateX(-5vh);
}
.first-page-wrap > h1{
    margin-left:5vw;
}
.loading-wrap > h1{
    text-align: left;
}
.first-page-wrap{
    transform: translateX(-85vw);

    display: flex;
    flex-direction: row;
}
.name{
    opacity: 0;
}
.first-page-wrap{
    position: relative;
}
@media only screen and (max-width: 700px){
    .loading-wrap > h1,.first-page-wrap > h1{
        width:60%;
        font-size:2.5em;
        line-height: normal !important;
    }
    .loading-wrap > h1{
        padding-right:30vw;
    }
    .first-page-wrap > h1{
        padding-left: 20vw;
    }
}
