.App {
 
  width:100%;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root{
  max-height: 500vh;
  overflow: hidden;
}
section{
  width:71%;
  padding-inline: 15%;
  height: 100vh;
  scroll-snap-align: start;
  z-index: 1;
}
.overflow{
  overflow: hidden;
}
.dot-overlay{
  position: fixed;
  top:0;
  width: 100vw;
  z-index: 25;
  height: 100vh;
  background-image: url(.././public/Assets/dot-overlay-01.png);
  opacity: 0.25;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
canvas {
  opacity: 0;

  position: fixed;
  top: 0;
  /* filter: blur(5px); */
  /* transform: scale(3); */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-right: 50vw;
  /* pointer-events: none; */
  transform: translateX(-25vw);
  transition: 500ms ease opacity;
  /* transform: translateY(100vh); */
  opacity: 0; 
}
@media only screen and (max-width: 1200px){
  section{
    width:90%;
    padding-inline: 5%;
  }
  canvas{
    transform: translateX(0vw) !important;
    padding-right:0vw;
    opacity:0.2 !important; 
  }
}