@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

:root {
  --main: #202A45;
  --background: #E4E8EB;
  --secondary: #6F7686;
  --third: #D0D4EB;
  --main-invert: #DFD5BA;
  --third-invert:#2F2B14;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Inter', sans-serif;
  background-color: var(--background);
}

html {
  overflow-x: hidden;
}

