.page-three{
    width:80%;
    padding-inline: 10%;
    min-height: 150vh;            /* fall-back */
    min-height: calc(-moz-available * 1.5) ;
    min-height: calc(-webkit-fill-available* 1.5);
    min-height: calc(fill-available* 1.5);


}
.page-three > div{
    width:100%;

}
.coming-soon{
    cursor: not-allowed;
}
.projects-wrap{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.projects-list{
    mix-blend-mode: difference;
    transform-origin:top right;
    /* scale: 3; */
    height:160vh;
    width: 55%;
    padding:3em;

  

    margin-top: 2.8em;
    scale:3;
    transform: scale(0.32);
    
}

.project-tile{
    transform: translateY(20vh);
    position: relative;
    margin-top:-2px;
    margin-bottom:-2px;
    
    overflow: hidden !important;
}
.project-tile:hover{
    cursor: pointer;
}
.project-line-top, .project-line-bottom{
    position: absolute;
    width: 60%;
    height: 2px;

    background-color: var(--third-invert);
    transition: all 500ms ease-out;
}
.project-line-top{
    top:0;
}
.project-line-bottom{
    bottom:0;
}
.project-title{
    font-size:3.8em;
    font-weight: 700;
    color:var(--main-invert);
    letter-spacing: -4px;
    padding-top: 5px;


}
.project-tile:hover .project-line-top,
.project-tile:hover .project-line-bottom
{
    width:100% !important;
}

.project-short-desc{
    position: relative;
    margin-left: 1%;
    height:1px;
    overflow: visible;
    color:var(--main-invert);
    font-size: 0.6em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-out;
}
.short-desc-main{
    position:absolute;
    bottom:0;
    left:0;
    color:var(--main-invert);
    font-size: 0.6em;
    font-weight: 600;
    margin-left:1%;
    padding-bottom: 20px;
}
.project-short-desc{
    padding-top: 5px;
    padding-bottom: 0px;
    opacity: 1 !important;
}
.project-short-desc div{
    width: 32%;
    font-size: 0.85em;
}
.project-short-desc div:nth-child(3){
    transform: translateX(30px);
}
.project-short-desc *{
    opacity: 1 !important;

}
.project-short-overview{
    padding-left:20px;
}
.project-line{
    /* width:0%; */
    opacity: 1 !important;
}
.project-tile *{
    opacity: 1;
}
.project-tile{
    /* transform: translateX(-60px); */
}
.title-letter-1, .title-letter-2, .title-letter-3, .title-letter-4, .title-letter-5{
    opacity: 1;
} 
.pointer-events{
    /* pointer-events: none; */
}
.overflow{
    overflow: hidden !important;
}

.project-long-desc{
    position: relative;
    z-index: 100;
    margin-left: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    overflow: hidden;
    height: 1px;
    justify-content: space-between;
    transition: all 1500ms ease;
    letter-spacing: 0px;
    line-height: 105%;
}
.project-long-desc div{
    width:31%;
    /* transform: scaleY(0.8); */
    font-size: 0.75em;
    color: var(--main-invert);

    
}
.short-desc-overview{
    transition: all 1500ms ease;
}
.active{
    cursor: default;
}
.long-desc-col1{
    color:var(--main-invert);
    font-size: 0.6em !important;
    font-weight: 500;
}
.project-tile:hover .project-short-desc{
    padding-bottom: 40px !important;
}
.short-desc-links{
    position:relative;

}
.short-desc-links span a{
    position:absolute;
    text-align: right;
    right:0;
    color:var(--main-invert) !important;
    transform: translateX(-30px);
    font-weight: 500;
    font-size: 1em;
}
.active{
    cursor: default !important;
}
.active .project-short-desc{
    padding-bottom: 40px !important;
}
.active .project-long-desc{
    padding-bottom: 200px !important;
}
.active .short-desc-overview{
    transform: translateY(-200px) !important;
}
@media only screen and (max-width: 1200px){
    .projects-list{
        width:90vw !important;
        padding:0;
        mix-blend-mode: normal !important;
        margin-top: 200px;
    }
    .projects-list *{

        color:var(--main) !important;
    }
    .project-long-desc{
        flex-direction: column;

    }
    .project-long-desc > div{
        width:100%;
    }
    .short-desc-links > span > a{
        color:var(--main) !important;
    }
    .active .short-desc-overview{
        transform: translateY(0) !important;
    }
    .project-long-desc{
        font-weight: 600;
    }
    .long-desc-col3{
        margin-top: 20px;
    }
    .short-desc-links{
        color:transparent !important;
    }
    .project-tile:hover .project-short-desc{
        padding-bottom: 60px !important;
    }
    .active .project-short-desc{
        padding-bottom: 60px !important;
    }
    .active .project-long-desc{
        padding-bottom: 300px !important;
    }
  }